.rank {
  margin: 0 0.6rem;
  border-radius: 1rem;
  width: 76%;
  height: 100%;
  overflow-x: auto;
  box-shadow: 0.5px 0.7px 12px rgba(0, 0, 0, 0.25);
  table-layout: fixed;
}

.rank_side {
  margin: 0 1rem;
  margin-right: 0;
  width: 24%;
  height: 100%;
}

.nav_tab {
  position: absolute;
  display: flex;
  bottom: 0.2rem;
  border-radius: 1rem;
  width: auto;
  background-color: var(--accent-color-dark);
  padding: 0.3rem 0.5rem;
  transition: all 0.3s ease;
}

.rankFrame {
  margin: 0.5rem 0;
  display: flex;
  width: 100%;
  height: 95%;
}

.problemBubble {
  color: var(--accent-color-darker);
}

.problemBubble.active {
}

.nav_tab div {
  margin: 0 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--accent-color-darker);
  color: white;
  cursor: pointer;
}

.rank td {
  color: black;
  text-align: center;
  padding: 1rem 0;
  transition: height 0.3s ease;
  border-left: 1px solid #c7eeba;
}

.rank th:first-child,
.rank td:first-child {
  width: 30%;
  border: none;
}
.rank th,
.rank td {
  padding: 1rem 0.5rem;
  width: 30%;
}

.nav_tab button {
  margin: 0.3rem;
  background-color: var(--accent-color-dark);
  margin-top: 0;
  color: var(--accent-color-light);
  padding: 0.1rem 0.5rem;
  cursor: pointer;
  border: none;
  height: 2em;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.idHolder {
  width: 100%;
  display: flex;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}

.idHolder div {
  text-align: center;
  padding: 0.7rem;
  height: 2.4rem;
  max-width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.1rem;
  color: var(--accent-color-darker);
  background-color: var(--accent-color-light);
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.rankBtn {
  background-color: var(--accent-color-dark);
  color: white;
  padding: 1rem 0;
  height: auto;
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
  margin: 0.5rem 0;
  transition: all 0.3s ease;
}

.rank_side h3 {
  color: var(--accent-color-darker);
  margin: 0.5rem;
}

.sideBottom {
  height: 51%;
  overflow: auto;
}

.idHolder div:hover {
  background-color: var(--accent-color-darker);
  color: white;
}

.rankTitle {
  background-color: var(--primary-color);
  border-radius: 1rem;
  width: 90%;
  overflow-y: auto;
  font-weight: bold;
  height: 3rem;
  font-size: 1rem;
  padding: 0.5rem;
}

.downloadBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color-dark);
  color: white;
  height: 30%;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  width: 100%;
  font-weight: 600;
  margin: 0;
  padding: 0;
  border: none;
  transition: all 0.3s ease;
}

.downloadBtn:hover {
  background-color: #5e8562;
}

.Loading {
  color: var(--accent-color-darker);
  font-size: 1.5rem;
  margin: 15% 20%;
}

.downloadBtn span {
  margin: 0 0.2rem;
}

.problemRank th,
.problemRank td {
  text-align: center;
  padding: 1rem 0;
  transition: height 0.3s ease;
}

.problemRank th:first-child,
.problemRank td:first-child {
  width: 10%;
}

.problemRank .User {
  width: 25%;
}

.problemRank .Lang {
  width: 35%;
}

.problemRank .Points {
  width: 20%;
}

.problemRank th.Status {
  width: 18%;
}

.problemRank td {
  width: 20%;
}

.problemRank .Time {
  width: 25%;
}
.problemRank .Memory {
  width: 25%;
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--accent-color-light);
  margin: 0.3rem;
  padding: 0 1rem;
}

.dropDown {
  border: none;
  background: none;
}

#allview td,
#allview th {
  width: 100%;
}

.idHolder div.active {
  background-color: var(--accent-color-darker);
  color: white;
}

.nav_tab button.active {
  background-color: rgb(252, 240, 225);
  color: var(--accent-color-darker);
}
