.c {
  width: 100%;
  height: 100%; 
  overflow: hidden;
  display: flex;
}
.topLocal {
  height: 10%;
  padding: 0.5rem 0.8rem;
  width: 100%;
}
.frame {
  width: 95%;
  height: 100%;
  display: flex;
}

.btnholder {
  position: relative;
  margin-top: 1rem;
  border-right: 2px solid #509c7c;
  width: 100%;
  height: 90%;
}

.Question {
  position: relative;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  width: 45%;
  border-radius: 1.5rem;
  height: 33rem;
  overflow-y: auto;
  margin: 0rem 1.5rem;
  border: 1px solid #c7c7c777;
  margin-left: 2rem;
}

.Testcase {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  width: 45%;
  border-radius: 1.5rem;
  height: 100%;
  font-weight: 500;
  border: 1px solid #c7c7c777;
  overflow: hidden;
  overflow-y: auto;
  margin: 0rem 0rem;
}

.nametag {
  background-color: var(--accent-color-dark);
  width: 100%;
  height: 10%;
  font-weight: bold;
  color: white;
  border-radius: 1.5rem 1.5rem 0 0;
  text-align: center;
  padding-top: 1rem;
}

.uploadQ {
  position: relative;
  height: 15rem;
}

h4 {
  color: var(--accent-color-dark);
  margin: 0.4rem 1rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.num1 {
  border: none;
}

.addDocs {
  position: absolute;
  top: 3.8rem;
  border: none;
  background-color: var(--accent-color-netrual);
  border-radius: 5px;
  padding: 0.1rem 0.3rem;
  width: auto;
  right: 2rem;
}

.del {
  top: 6.9rem;
  right: 9rem;
}

.divider {
  border: 2px solid #509c7c;
  height: 1px;
  width: 90%;
  margin: 0 1.5rem;
}

.textQ {
  margin: 0.5rem 1rem;
  text-align: start;
  width: 90%;
  height: 15rem;
  min-height: 70%;
  color: black;
  border-radius: 20px;
  background: none;
  border: 2px solid #509c7c;
  resize: none; /* Make textarea non-resizable */
  padding: 1rem;
}
.IO1 {
  display: flex;
  width: 100%;
}

.sampleInp p {
  color: var(--accent-color-darker);
  margin: 0.2rem 2rem;
  border-bottom: 1px solid #c7c7c7ad;
  font-weight: 300;
}

.sampleInp {
  position: relative;
  width: 100%;
  overflow-y: scroll;
}

.clicked {
  background-color: var(--accent-color-light);
  color: var(--accent-color-dark);
}

.renderQ {
  justify-content: center;
  height: 90%;
  width: 100%;
}

.langchoice {
  display: flex;
  flex-wrap: wrap;
}

.langc {
  border: 1px solid #509c7c;
  display: flex;
  flex-wrap: wrap;
  height: 5rem;
  margin: 0 0.5rem;
  border-radius: 20px;
  padding: 1rem 0.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
  overflow-y: scroll;
}

.lang {
  color: var(--accent-color-dark);
  margin: 0.2rem 1rem;
  display: block;
}

.langchoice p {
  color: var(--accent-color-darker);
  margin: 0.4rem 1rem;
  width: 100%;
}

.Bold {
  color: var(--accent-color-darker);
}

h5 {
  color: var(--accent-color-dark);
  margin: 0.4rem 1rem;
  font-size: 1rem;
  font-weight: 400;
}

.dropzone {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 14rem;
  transition: all 0.4s ease;
}

.dropzone p {
  color: var(--accent-color-dark);
  margin: 0.5rem;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.status {
  color: var(--accent-color-dark);
}

.lang input[type="checkbox"] {
  display: none;
}

/* Create a custom checkbox */
.lang input[type="checkbox"] + span {
  width: 20px;
  height: 20px;
  border: 2px solid #509c7c;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  margin-right: 0.2rem;
}

/* Style the checkmark/indicator */
.lang input[type="checkbox"] + span::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid #509c7c;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

/* Show the checkmark when checked */
.lang input[type="checkbox"]:checked + span::after {
  opacity: 1;
}

/* Optional: Add a hover effect */
.lang input[type="checkbox"] + span:hover {
  background-color: #f0f0f0;
}

.testtype {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: break-word;
}

.testtype p {
  color: var(--accent-color-darker);
  margin: 0.4rem 1.5rem;
  font-size: 1rem;
  height: auto;
  font-weight: 300;
}

.testtype div {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  width: 50%;
  margin: .5rem 1.5rem;
  height: 2rem;
}

input[type="number"] {
  width: 5rem;
  height: 2rem;
  border: 1px solid #509c7c;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
  color: var(--accent-color-darker);
  margin: 0 0.5rem;
  background: none;
}

/* Hide the up and down buttons in number input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;

}

.timeCon {
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}


.timeCon input {
  width: 30%;
  height: 2rem;
  border: 1px solid #509c7c;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
  color: var(--accent-color-darker);
  margin: 0.5rem 0;
  background: none;
}
.memoryCon {
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.memoryCon h5 {
  margin: 0 1rem;
  margin-top: 1rem;
  width: 100%;
}

.memoryCon input {
  width: 6rem;
  height: 2rem;
  border: 1px solid #509c7c;
  border-radius: 10px;  
  padding: 0.5rem;
  text-align: center;
  color: var(--accent-color-darker);
  margin: 0.5rem 0;
  background: none;
}

.Mode {
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 20rem;
  justify-content: flex-end;
}
.Mode h5 {
  margin: 0;
  margin-top: 1rem;
  width: 100%;
  text-align: end;
}

.contrains {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 10rem;
  margin: 0;
  padding: 0;
}

.savebtn {
  position: absolute;
  right: .5rem;
  bottom: 3rem;
  border: none;
  border-radius: 10px;
  width: 7rem;
  height: 2rem;
  background-color: #509c7c;
}

.warning {
  position: absolute;
  width: 7%
  ;
  right: .8rem;
  bottom: 10rem;
  color: rgb(187, 50, 50);
  font-size: 0.7rem;
}

.TITLE {
  text-align: center;
  padding: 0 0.6rem;
  border: none;
  color: black;
  border-bottom: 1px solid #509c7c9f;
  background: none;
  text-overflow: ellipsis;
  width: 90%;
  margin: 0 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.reversed {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.ppt {
  color: var(--accent-color-darker);
  width: 15%;
  border: 1px solid #509c7c;
  text-align: center;
  padding: 0.4rem;
  background: none;
  height: 2rem;
  border-radius: 10px;
}

.tcHolder h5 {
  width: 10rem;
}

.pptHolder {
  display: flex;
}

.placeholder::before {
  direction: ltr;
  unicode-bidi: bidi-override;
  content: "Problem-Title";
  color: grey;
  pointer-events: none;
}

/* Style the container */
.ttype {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 0.5rem;
}

/* Hide the default radio button */
.ttype input[type="radio"] {
  display: none;
}

/* Create a custom radio button */
.ttype span {
  height: 20px;
  width: 20px;
  background-color: #c2c2c2;
  border-radius: 50%;
  display: inline-block;
  padding: 0.6rem;
  position: relative;
  margin-right: 10px;
}

/* Style the checked state */
.ttype input[type="radio"]:checked + span {
  background-color: #87ce93;
}

/* Create the inner circle for the checked state */
.ttype input[type="radio"]:checked + span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  transform: translate(-50%, -50%);
}

.ttype div {
  color: var(--accent-color-dark);
}

.contrains .divider {
  margin-right: 0;
}

.phMemo {
  direction: ltr;
  unicode-bidi: bidi-override;
  content: "Problem-Title";
  color: grey;
  pointer-events: none;
}

.popHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.md {
  color: black;
  margin: 1rem;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
}

.popup {
  position: absolute;
  background-color: white;
  height: 90%;
  width: 70%;
}

.outer {
  width: 100%;
  height: 100%;
  background-color: rgba(105, 105, 105, 0.5);
  backdrop-filter: blur(7px);
}

.Uploaded {
  border: 1px solid #509c7c;
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 1rem;
  background-color: var(--accent-color-light);
}

.Uploaded p {
  color: var(--accent-color-dark);
}

.Uploaded p:hover {
  color: var(--accent-color-light);
}

.Uploaded:hover {
  background-color: var(--accent-color-dark);
}

/* Hide the default file input */
.custom-file-input {
  display: none;
}

/* Style the custom file input label */
.custom-file-label {
  position: absolute;
  top: 6.8rem;
  right: 2.5rem;
  display: inline-block;
  padding: 0.3rem 0.8rem;
  background-color: var(--accent-color-netrual);
  color: white;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-file-label:hover,
.del:hover,
.custom-file-label-side:hover,
.savebtn:hover {
  background-color: var(--accent-color-light);
  color: var(--accent-color-dark);
}

.memoryCon h5, .timeCon h5 {
  width: auto;
  margin: 1rem .5rem;
}

.Testcase h4{
  font-size: 1rem;
}

.dropzoneT{
  color: var(--accent-color-netrual);
  margin: .5rem;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.testcaseUpload{
  width: 100%;
  height: 100%;
}

.custom-file-label-side{
  position: inherit;
  bottom: 0rem;
  right: 15rem;
  margin: 0 .5rem;
  display: inline-block;
  padding: 0.3rem 0.8rem;
  background-color: var(--accent-color-netrual);
  color: white;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tcAdded{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  width: 20%;
  padding: .1rem;
  border: 2px solid var(--accent-color-light);
  color:  var(--accent-color-dark);
  background-color: var(--accent-color-lighter);
}

.DragnDrop{
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  width: 100%;
  height: 1.5rem;
}

.zippanel{
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--accent-color-light);
  border-radius: 0 0 1rem 1rem;
}

.fzip{
  width: 100%;
  border-radius: 1rem;
}

.fzip h4{
  margin: 0;
  width: 100%;
  padding: .5rem;
  border: 2px solid var(--accent-color-dark);
  border-bottom: none;
  border-radius: 1rem 1rem 0 0;
}
.warning-message{
  color: #ff9e65;
}

.Loading{
  position: absolute;
  color: var(--accent-color-netrual);
}

.renderholder
{
  width: 100%;
  height: auto;
}

.render{
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border: 1px solid #509c7c;
  background-color: var(--accent-color-dark);
  border-radius: 1rem;
  width: 100%;
  height: auto;
}

.render h1, .render h2, .render h3, .render h4, .render h5, .render h6 {
  color: white;
  padding: 0;
  margin: 0;
}

.render p {
  margin: 0 0 1em;
  line-height: 1.5;
}

.render ul {
  list-style-type: circle;
  padding-left: 20px;
}

.render ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.render li {
  margin: 0.5em;
}

.render blockquote {
  border-left: 4px solid var(--accent-color-light);
  padding-left: 16px;
  color: var(--accent-color-light);
  margin: 0 0 1em;
}

.render pre {
  background: #2d2d2d;
  color: #f8f8f2;
  padding: 16px;
  overflow-x: auto;
  border-radius: 4px;
}

.render code {
  background: #2d2d2d;
  color: #f8f8f2;
  padding: 2px 4px;
  border-radius: 4px;
}

.render a {
  color: var(--accent-color-dark);
  text-decoration: underline;
}

.render hr {
  border: 0;
  height: 1px;
  background: var(--accent-color-dark);
  margin: 1em 0;
}

.renderTitle{
  margin: .5rem 1rem;
  color: var(--accent-color-darker);
}

.okay{
  color: rgb(41, 189, 41);
  font-weight: 500;

}

.smaller{
  height: 2rem;
}

.inpOut{
  display: flex;
  width: 100%;
  margin: 1rem 0;
}

.kill{
  background-color: #ff9e65;
  padding: .5rem;
  width: 3rem;
  bottom: 5.5rem;
}

.dragging{
  background-color: var(--accent-color-light);
}
