.Frame {
  border-radius: 10px;
  height: 95%;
  padding: 0;
  margin: 1rem;
  overflow: hidden;
  width: 90%;
  overflow-y: scroll;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  position: relative;
}

table {
  border-collapse: separate; /* Required for border-radius to work on table */
  width: 100%; /* Full width */
  overflow: hidden; /* Ensure content does not overflow outside the rounded corners */
  border-spacing: 10px; /* Adjust the spacing between cells */
}

thead {
  background-image: linear-gradient(45deg,rgb(90, 134, 78) 0%, var(--accent-color-dark) 100%);
  color: white; /* Ensure text color is readable */
  text-align: center;
  position: sticky; /* Optional: makes the header sticky */
  top: 0; /* Sticks the header to the top of the table container */
  z-index: 1; /* Ensure header stays on top of other content */
  border-radius: 10px;
}

th,
td {
  padding: 0.5rem;
  border-radius: 10px;
}

table {
  border-collapse: collapse; /* Ensures borders are collapsed and aligned */
}

td {
  background-color: rgb(235, 255, 203); /* Alternate row background color */
  border-top: none;
  border-left: none;
  padding: 1rem 5rem;
}

tr td:last-child,
tr th:last-child {
  border-right: none;
  text-align: center;
}

th:last-child {
  width: 30%;
}

th:first-child {
  width: 70%;
}

tbody td:first-child {
  font-weight: bold;
  width: 70%;
}

tbody td:last-child {
  font-weight: bold;
  width: 30%;
}

img {
  width: 17.5rem;
  height: 22.5rem;
}

.no-data {
  margin: auto;
  padding: auto;
}

.errormes {
  color: black;
}

.link {
  margin-bottom: 0.2rem;
  color: var(--accent-color-darker);
}

.tc {
  padding: 1rem 4rem;
}

.Names {
  padding: 1rem 0rem;
  padding-left: 4rem;
  padding-right: 52.1rem;
}

tr {
  display: flex;
  width: 100%;
}

.Frame .addItem {
  position: absolute;
  bottom: 1.5rem;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0.3rem;
  background-image: linear-gradient(45deg, var(--accent-color-dark) 0%, rgb(100, 150, 88) 100%);
  color: white;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  transition: all .5s ease-in-out;
}

.Loading {
  color: var(--accent-color-darker);
}



.modeBtn{
  z-index: -1;
  text-align: center;
  margin: 0;
  padding: .5rem .8rem;
  display: flex;
  top: 5.5rem;
  z-index: 100;
  position: absolute;
  right: -2rem;
  background-image: linear-gradient(45deg, rgb(226, 252, 220) 0%, rgb(214, 253, 183) 100%);
  color: var(--accent-color-dark);
  width: 6rem;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  transform: rotate(-90deg);
  white-space: nowrap;
  cursor: pointer;
  transition: all .5s ease;
}

.two{
  top: 12.5rem;
}

.problemTable .active{
  transition: all .5s ease;
  background-image: linear-gradient(45deg, var(--accent-color-dark)0%, rgb(100, 150, 88) 100%);
  color: white;
}

.Frame .addItem.none{
  transform: translateX(200%);
}

.no-data{
  width: 100%;
  height: 100%;
}
