*{
    color: white;
}
 /* OG state */
.sidebar{
    z-index: 101;
    position: absolute;
    margin: 0.7rem;
    background-color: var(--accent-color-darker);
    width: 12rem;
    height: 35rem;
    max-width: 12rem;
    max-height: 38rem;
    padding: .5rem;
    border-radius: 1.1rem;
    transition: all .4s ease;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem;
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
}

.top #btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.user{
    display: flex;
    color: white;
    margin-bottom: 2rem;
}

.user-img{
    margin: .3rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    border: 2px solid var(--accent-color-light);
}

.user p{
    font-weight: 300;
    margin: .3rem;
    margin-left: 2rem;;
}

.user p.bold{
    font-weight: 500;
    font-size: 1.05rem;
}

.sidebar ul li{
    color: white;
    display: flex;
    padding: .5rem .9rem;
    margin: 1.2rem 0.2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s ease;
}

.sidebar ul li:last-child{
    margin-top: 4.5rem;
    margin-bottom: 0;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 4.5625rem; 
    background-color: #F1F8E8;
    color: #214b42;
    padding: 0.4rem;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    z-index: 20;
    display: none;
}

.sidebar ul li .nav-item{
    margin-left: .8rem;
}

.sidebar ul li:hover{
    padding-left: 2rem;
    background-color: var(--accent-color-dark);
}

.btn{
    margin: .5rem;
}

.sidebar.open{
    width: 12rem;
}

.sidebar.closed{
    top: 10%;
    width: 4rem;
    height: 25rem;
}

.sidebar.closed .top .logo, .sidebar.closed .user, .sidebar.closed ul li .nav-item, .sidebar.closed ul li:last-child{
    display: none;
}

.sidebar.closed ul li:hover .tooltip{
    display: flex;
}

.sidebar.closed ul li{
    padding: .6rem;
}




