@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --primary-color: #fff4e7;
  --secondary-color: #cadabf;
  --accent-color-darker: #1a4d2e;
  --accent-color-light: hsl(105, 24%, 77%);
  --accent-color-dark: #4f6f52;
  --accent-color-lighter: rgba(245, 255, 250, 1);
  --accent-color-netrual: #509c7c;
  --accent-light-1: #D8EFD3;
  --accent-light-2: #95D2B3;
  --accent-light-3: #F1F8E8;
  --accent-dark-1: #75A47F;
}
* {
  scrollbar-width: thin; /* Options: auto, thin, none */
  scrollbar-color: #66815e #edffdc; /* thumb color, track color */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--primary-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

button{
  min-width: 2rem;
  min-height: 1rem;
}

.container {
  width: 93%;
  padding: .5r  em;
  height: 35rem;
  margin: 1rem 6rem;
  padding-right: 0;
  transition: all 0.3s ease-in-out;
}

.sidebar.open ~ .container {
  width: 80%;
  margin-left: 14rem;
}

.button {
  background-image: linear-gradient(
    45deg,
    var(--accent-color-dark) 0%,
    var(--accent-color-light) 100%
  );
  border: 1px solid var(--secondary-color);
  color: #fff;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
}

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Width of the vertical scrollbar */
  height: 4px; /* Height of the horizontal scrollbar */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #edffdc; /* Light background color */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #66815e; /* Darker color for the scrollbar thumb */
  border-radius: 10px; /* Round the corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #52684c; /* Darker on hover */
}

/* Optional: Track on hover */
::-webkit-scrollbar-track:hover {
  background: #d3e6c1; /* Slightly darker track on hover */
}

@media screen and (max-width: 940px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

.errorPopup{
  z-index: 10;
  margin: auto;
  position: absolute;
  border-radius: 1rem;
  text-align: center;
  height: 17rem;
  width: 25rem;
  background-color: #edffdc;
  overflow: hidden;
}

.upperLine{
  background-color: #1a4d2e;
  width: 100%;
  padding: 0 .5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2.3rem;
}

.errorPopup .errorMessage{
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--accent-color-dark);
}

.CloseBtn{
  background-color: #507514;
  border: none;
  padding: .25rem;
  border-radius: 5px;
}
.CloseBtn *{
  font-family: 'Rubik', sans-serif;
  font-weight: bold;

}
